html,body {
  background-color: #f1faee; 
}

.sentences {
  position: relative;
  height: 50vh;
}
.sentence{
  position: absolute;
  top: 0;
  left: 0;
  color: #a8dadc;
}

.wiki-title{color:#e63946; margin-bottom: 1em;}

.userInput{
  position: relative;
  /* top: 0; */
  color: #457b9d;
}


.shake {    
  animation: shake 0.1s ease-in-out 0.1s 2 alternate;
}

@keyframes shake {
from {
  -webkit-transform: rotate(3deg);
}
to {
 -webkit-transform-origin:left center;
 -webkit-transform: rotate(5deg);
}

}